<h1>Welcome To Instagram</h1>

<%= form_for :user, :url => {:controller => 'sessions', :action => 'create'} do |form| %>

  <%= form.text_field :email, placeholder: 'email' %> <br />
  <%= form.password_field :password, placeholder: 'Password' %> <br />

  <%= form.submit "Sign In" %>

<% end %>

<h3>Don't have an account?</h3>
<%= link_to 'Sign Up', signup_path, id: 'sign-up' %>

